body
{
	background-color: #e6e6e6;
}
.main
{
	background-color: black;
	height: 100px;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 3;
	position: fixed;
}
.sec
{
	background-color: #5385c1;
	height: 70px;
	position: absolute;
	top: 100px;
	width: 100%;
}
.sec a
{	
	position: relative;
	top: 0.5px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 24px;
}
h1
{
	font-size: 50px;
}
.sec a:hover
{
	background:#000;
	color: #fff;
}

.parent
{
	position: absolute;
	left: 10%;
	top: 418px;
	transform: translate(-50%,-50%);
	z-index: 2;
	height: 495px;
	width: 273px;
	background-color: #fff;
}
.ab button
{
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left: none;
	background-color: white;
	color: grey;
	font-size: 17px;
	padding: 18px;
}
.first
{
	height: 570px;
	background-color: white;
	width: 660px;
	position: relative;
	left: 25%;
	top: 210px;
	color: #5385c1;
	font-size: 20px;
}
.user
{
	height: 60px;
	border-radius:28px;
	position: relative;
	top: 12px;
	left: 5px; 
}
.fir1
{
	position: relative;
	top: -50px;
	left: 66px;
}
.fir2
{
	position: absolute;
	height: 400px;
	width: 600px;
	top: 160px;
	left: 40px;
}
.second
{
	position: absolute;
	top:  570%;
	width: 100%;
	background-color:rgba(1,1,1,0.8);
	height: 200px;
	left: 0%;
}
.hule
{
	background-color: #5385c1;
	height: 20px;
	position: relative;
	top: 0%;	
}
h2
{
	text-align: center;
	font-size: 50px;
	color: rgba(255,255,255,0.2);
	position: relative;
	top: -20px;
}
.third
{
	height: 570px;
	background-color: white;
	width: 660px;
	position: relative;
	left: 25%;
	top: 230px;
	color: #5385c1;
	font-size: 20px;
}
.fourth
{
	height: 570px;
	background-color: white;
	width: 660px;
	position: relative;
	left: 25%;
	top: 250px;
	color: #5385c1;
	font-size: 20px;
}
.fifth
{
	height: 570px;
	background-color: white;
	width: 660px;
	position: relative;
	left: 25%;
	top: 270px;
	color: #5385c1;
	font-size: 20px;
}
.sixth
{
	height: 570px;
	background-color: white;
	width: 660px;
	position: relative;
	left: 25%;
	top: 290px;
	color: #5385c1;
	font-size: 20px;
}
.seventh
{
	height: 570px;
	background-color: white;
	width: 660px;
	position: relative;
	left: 25%;
	top: 310px;
	color: #5385c1;
	font-size: 20px;
}